In [70]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.19.5)

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from tensorflow.keras.utils import to_categorical

from sklearn import metrics
from sklearn.metrics import confusion_matrix

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation,LSTM,Dropout
from tensorflow.keras.optimizers import Adam
from keras.callbacks import EarlyStopping
from sklearn.metrics import classification_report
sns.set()

In [72]:
# Loading  datasets
ranking = pd.read_excel('fifa_ranking.xlsx')
results = pd.read_csv('results.csv')
fixtures = pd.read_excel('fixtures.xlsx')

In [73]:
results.tail()

             date      home_team  ...        country  neutral
43081  2021-12-15        Tunisia  ...          Qatar     True
43082  2021-12-15          Qatar  ...          Qatar    False
43083  2021-12-18            NaN  ...          Qatar      NaN
43084  2021-12-18            NaN  ...          Qatar      NaN
43085  2021-12-18  United States  ...  United States    False

[5 rows x 9 columns]

In [74]:
ranking.head()

   Positions     Team  Total Points
0         20  Senegal       1561.68
1         28  Morocco       1529.93
2         29  Algeria       1516.51
3         30  Tunisia       1512.72
4         36  Nigeria       1478.78

In [75]:
results.dropna(subset = ["home_score"], inplace=True)

In [76]:
results.tail()

             date    home_team  ...        country  neutral
43076  2021-12-10      Tunisia  ...          Qatar     True
43077  2021-12-10        Qatar  ...          Qatar    False
43078  2021-12-11        Egypt  ...          Qatar     True
43079  2021-12-11      Morocco  ...          Qatar     True
43080  2021-12-11  El Salvador  ...  United States     True

[5 rows x 9 columns]

In [77]:
#Adding goal difference and establishing who is the winner 
winner = []
for i in results.index.tolist():
    
    if results ['home_score'][i] > results['away_score'][i]:
        winner.append(results['home_team'][i])
    elif results['home_score'][i] < results ['away_score'][i]:
        winner.append(results['away_team'][i])
    else:
        winner.append('Draw')
results['winning_team'] = winner

#adding goal difference column
results['goal_difference'] = np.absolute(results['home_score'] - results['away_score'])

In [78]:
results.tail(10)

             date    home_team  ... winning_team  goal_difference
43071  2021-12-07      Morocco  ...      Morocco              1.0
43072  2021-12-07      Algeria  ...         Draw              0.0
43073  2021-12-07      Lebanon  ...      Lebanon              1.0
43074  2021-12-08       Mexico  ...         Draw              0.0
43075  2021-12-09     Tanzania  ...       Uganda              2.0
43076  2021-12-10      Tunisia  ...      Tunisia              1.0
43077  2021-12-10        Qatar  ...        Qatar              5.0
43078  2021-12-11        Egypt  ...        Egypt              2.0
43079  2021-12-11      Morocco  ...         Draw              0.0
43080  2021-12-11  El Salvador  ...        Chile              1.0

[10 rows x 11 columns]

In [79]:
africacup_teams = ['Cameroon', 'Cape Verde', 'Ethiopia', 'Burkina Faso',
                  'Guinea', 'Egypt', 'Morocco', 'Nigeria',
                  'Senegal', 'Tunisia', 'Malawi', 'Zimbabwe',
                  'Comoros', 'Gabon', 'Ghana', 'Guinea-Bissau',
                  'Sudan', 'Algeria', "Ivory Coast", 'Equatorial Guinea',
                  'Sierra Leone', 'Gambia', 'Mali', 'Mauritania']

In [80]:
df_teams_home = results[results['home_team'].isin(africacup_teams)]
df_teams_away = results[results['away_team'].isin(africacup_teams)]
df_teams = pd.concat((df_teams_home, df_teams_away))
df_teams.drop_duplicates()
df_teams.count()

date               10019
home_team          10019
away_team          10019
home_score         10019
away_score         10019
tournament         10019
city               10019
country            10019
neutral            10019
winning_team       10019
goal_difference    10019
dtype: int64

In [81]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10019 entries, 809 to 43079
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             10019 non-null  object
 1   home_team        10019 non-null  object
 2   away_team        10019 non-null  object
 3   home_score       10019 non-null  float64
 4   away_score       10019 non-null  float64
 5   tournament       10019 non-null  object
 6   city             10019 non-null  object
 7   country          10019 non-null  object
 8   neutral          10019 non-null  object
 9   winning_team     10019 non-null  object
 10  goal_difference  10019 non-null  float64
dtypes: float64(3), object(8)
memory usage: 939.3+ KB

In [82]:
year = []
for row in df_teams['date']:
    year.append(int(row[:4]))
df_teams['match_year'] = year
df_teams_1960 = df_teams[df_teams.match_year >= 1960]
df_teams_1960.head()

#dropping columns that wll not affect matchoutcomes
df_teams_1960 = df_teams.drop(['date', 'home_score', 'away_score', 'tournament', 'city', 'country',
                               'goal_difference', 'match_year', 'neutral'], axis = 1)

df_teams_1960.head()

     home_team  away_team winning_team
809      Egypt  Lithuania        Egypt
1463     Egypt    Hungary         Draw
1661     Egypt     Israel        Egypt
1695     Egypt    Hungary      Hungary
1894     Egypt     Greece        Egypt

In [83]:
df_teams_1960 = df_teams_1960.reset_index(drop=True)
df_teams_1960.loc[df_teams_1960.winning_team == df_teams_1960.home_team,'winning_team']=2
df_teams_1960.loc[df_teams_1960.winning_team == 'Draw', 'winning_team']=1
df_teams_1960.loc[df_teams_1960.winning_team == df_teams_1960.away_team, 'winning_team']=0

df_teams_1960.head()

  home_team  away_team winning_team
0     Egypt  Lithuania            2
1     Egypt    Hungary            1
2     Egypt     Israel            2
3     Egypt    Hungary            0
4     Egypt     Greece            2

In [84]:
#convert home team and away team from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(df_teams_1960, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Separate X and y sets
X = final.drop(['winning_team'], axis=1)
y = final["winning_team"]
y = y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [85]:
final.head(10)

  winning_team  home_team_Albania  ...  away_team_Zanzibar  away_team_Zimbabwe
0            2                  0  ...                   0                   0
1            1                  0  ...                   0                   0
2            2                  0  ...                   0                   0
3            0                  0  ...                   0                   0
4            2                  0  ...                   0                   0
5            0                  0  ...                   0                   0
6            2                  0  ...                   0                   0
7            1                  0  ...                   0                   0
8            2                  0  ...                   0                   0
9            0                  0  ...                   0                   0

[10 rows x 313 columns]

**Logistic Regression**

In [86]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.564
Test set accuracy:  0.536

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

**Naive Bayes**

In [87]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
score = gnb.score(X_train, y_train)
score2 = gnb.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.327
Test set accuracy:  0.302

**XGBClassifier**

In [88]:

# instantiate a XGBClassifier model
xgb_clf = XGBClassifier(num_class=3,learning_rate=0.1,max_depth=10,eval_metric='mlogloss')
# train the model using X_train
xgb_clf.fit(X_train, y_train)
# make class predictions for X_train and X_test
score = xgb_clf.score(X_train, y_train)
score2 = xgb_clf.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.575
Test set accuracy:  0.530

In [89]:
# make class predictions for X_test
y_pred_class = xgb_clf.predict(X_test)
# calculate accuracy of class predictions
accuracy = metrics.accuracy_score(y_test, y_pred_class)
# the confusion matrix
confusion_matrix = metrics.confusion_matrix(y_test, y_pred_class)

In [90]:
print(confusion_matrix)
print(accuracy)

[[ 136   89  484]
 [  64  109  647]
 [  67   63 1347]]
0.5296074517631404

**DNN**

In [91]:
print(X_train.shape)
print(y_train.shape)

(7013, 312)
(7013,)

In [92]:

y_t = to_categorical(y_train,num_classes=3)
y_ts = to_categorical(y_test,num_classes=3)

In [93]:
print(y_t.shape)
print(y_ts.shape)

(7013, 3)
(3006, 3)

In [94]:

# Creating a Neural Network Model


# having 19 neuron is based on the number of available features
model = Sequential()
model.add(Dense(1024,input_dim= X_train.shape[1],activation='relu'))
model.add(Dense(512,activation='relu'))
model.add(Dense(256,activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(32,activation='relu'))

model.add(Dense(3,activation='softmax'))

model.compile(optimizer='Adam',loss='categorical_crossentropy', metrics=['accuracy'])

In [95]:
# train the network
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=10)
INIT_LR = 1e-3  #learning rate
EPOCHS = 20     #number of iterations
BS = 64     #batch size
print("[INFO] training network...")
H = model.fit(x=X_train,y=y_t,validation_data=(X_test,y_ts),batch_size=BS,epochs=EPOCHS,callbacks=[es],)

[INFO] training network...
Epoch 1/20
110/110 [==============================] - 3s 22ms/step - loss: 1.0105 - accuracy: 0.5043 - val_loss: 0.9991 - val_accuracy: 0.5176
Epoch 2/20
110/110 [==============================] - 2s 19ms/step - loss: 0.9555 - accuracy: 0.5414 - val_loss: 0.9727 - val_accuracy: 0.5196
Epoch 3/20
110/110 [==============================] - 2s 20ms/step - loss: 0.9211 - accuracy: 0.5611 - val_loss: 0.9769 - val_accuracy: 0.5336
Epoch 4/20
110/110 [==============================] - 2s 20ms/step - loss: 0.8902 - accuracy: 0.5791 - val_loss: 0.9655 - val_accuracy: 0.5353
Epoch 5/20
110/110 [==============================] - 2s 20ms/step - loss: 0.8587 - accuracy: 0.5975 - val_loss: 0.9915 - val_accuracy: 0.5230
Epoch 6/20
110/110 [==============================] - 2s 19ms/step - loss: 0.8342 - accuracy: 0.6076 - val_loss: 1.0658 - val_accuracy: 0.5306
Epoch 7/20
110/110 [==============================] - 2s 19ms/step - loss: 0.8006 - accuracy: 0.6150 - val_loss: 1.0654 - val_accuracy: 0.5060
Epoch 8/20
110/110 [==============================] - 2s 19ms/step - loss: 0.7766 - accuracy: 0.6303 - val_loss: 1.0516 - val_accuracy: 0.5236
Epoch 9/20
110/110 [==============================] - 2s 19ms/step - loss: 0.7586 - accuracy: 0.6291 - val_loss: 1.0763 - val_accuracy: 0.5343
Epoch 10/20
110/110 [==============================] - 2s 20ms/step - loss: 0.7431 - accuracy: 0.6384 - val_loss: 1.1810 - val_accuracy: 0.5256
Epoch 11/20
110/110 [==============================] - 2s 19ms/step - loss: 0.7305 - accuracy: 0.6357 - val_loss: 1.2328 - val_accuracy: 0.5273
Epoch 12/20
110/110 [==============================] - 2s 19ms/step - loss: 0.7190 - accuracy: 0.6439 - val_loss: 1.2653 - val_accuracy: 0.5286
Epoch 13/20
110/110 [==============================] - 2s 20ms/step - loss: 0.7085 - accuracy: 0.6452 - val_loss: 1.2498 - val_accuracy: 0.5329
Epoch 14/20
110/110 [==============================] - 2s 19ms/step - loss: 0.7017 - accuracy: 0.6514 - val_loss: 1.3266 - val_accuracy: 0.5279
Epoch 00014: early stopping

In [96]:
print("[INFO] evaluating network...")
predIdxs = model.predict(X_test, batch_size=BS)
predIdxs = np.argmax(predIdxs, axis=1)
y_test_ = np.argmax(y_ts, axis=1)

cm = metrics.confusion_matrix(y_test_, predIdxs)

print(cm)
print("acc: {:.2f}".format(np.trace(cm)/sum(sum(cm))))

[INFO] evaluating network...
[[ 229  124  356]
 [ 148  162  510]
 [ 149  132 1196]]
acc: 0.53

**LSTM**

In [97]:
# Design Neural Network Architecture with SimpleRNN
def data_reshape(data):
  return np.reshape(data, (data.shape[0], data.shape[1], 1))
dropout_rate = 0.5
X_train = data_reshape(np.array(X_train))
print('Building Simple RNN Model..')

RNN_model = Sequential()

# Add Simple LSTM layer
RNN_model.add(LSTM(units = 64 , dropout=0.2, recurrent_dropout=0.2, input_shape=(X_train.shape[1], X_train.shape[2])))
# Add Dense Hidden Layer
RNN_model.add(Dense(512, activation='relu'))
RNN_model.add(Dropout(dropout_rate))
RNN_model.add(Dense(256, activation='relu'))
RNN_model.add(Dropout(dropout_rate))
RNN_model.add(Dense(128, activation='relu'))
RNN_model.add(Dropout(dropout_rate))
RNN_model.add(Dense(64, activation='relu'))
RNN_model.add(Dropout(dropout_rate))
# Output Layer 
RNN_model.add(Dense(3,activation='softmax'))

Building Simple RNN Model..

In [98]:
# Configure model
RNN_model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
# Train!
print('Training the model..')
history = RNN_model.fit(X_train, y_t, batch_size=BS, verbose=2, epochs=EPOCHS, validation_data=(X_test, y_ts))

Training the model..
Epoch 1/20
110/110 - 46s - loss: 1.0579 - accuracy: 0.4887 - val_loss: 1.0441 - val_accuracy: 0.4914 - 46s/epoch - 420ms/step
Epoch 2/20
110/110 - 43s - loss: 1.0476 - accuracy: 0.4928 - val_loss: 1.0465 - val_accuracy: 0.4914 - 43s/epoch - 391ms/step
Epoch 3/20
110/110 - 43s - loss: 1.0467 - accuracy: 0.4928 - val_loss: 1.0445 - val_accuracy: 0.4914 - 43s/epoch - 391ms/step
Epoch 4/20
110/110 - 43s - loss: 1.0482 - accuracy: 0.4928 - val_loss: 1.0463 - val_accuracy: 0.4914 - 43s/epoch - 391ms/step
Epoch 5/20
110/110 - 43s - loss: 1.0454 - accuracy: 0.4928 - val_loss: 1.0444 - val_accuracy: 0.4914 - 43s/epoch - 390ms/step
Epoch 6/20
110/110 - 43s - loss: 1.0459 - accuracy: 0.4925 - val_loss: 1.0436 - val_accuracy: 0.4914 - 43s/epoch - 391ms/step
Epoch 7/20
110/110 - 43s - loss: 1.0453 - accuracy: 0.4927 - val_loss: 1.0440 - val_accuracy: 0.4914 - 43s/epoch - 393ms/step
Epoch 8/20
110/110 - 43s - loss: 1.0452 - accuracy: 0.4924 - val_loss: 1.0434 - val_accuracy: 0.4914 - 43s/epoch - 391ms/step
Epoch 9/20
110/110 - 43s - loss: 1.0455 - accuracy: 0.4917 - val_loss: 1.0447 - val_accuracy: 0.4914 - 43s/epoch - 391ms/step
Epoch 10/20
110/110 - 43s - loss: 1.0465 - accuracy: 0.4929 - val_loss: 1.0440 - val_accuracy: 0.4914 - 43s/epoch - 393ms/step
Epoch 11/20
110/110 - 43s - loss: 1.0450 - accuracy: 0.4928 - val_loss: 1.0438 - val_accuracy: 0.4914 - 43s/epoch - 395ms/step
Epoch 12/20
110/110 - 43s - loss: 1.0462 - accuracy: 0.4928 - val_loss: 1.0439 - val_accuracy: 0.4914 - 43s/epoch - 392ms/step
Epoch 13/20
110/110 - 43s - loss: 1.0452 - accuracy: 0.4928 - val_loss: 1.0440 - val_accuracy: 0.4914 - 43s/epoch - 392ms/step
Epoch 14/20
110/110 - 44s - loss: 1.0444 - accuracy: 0.4924 - val_loss: 1.0442 - val_accuracy: 0.4914 - 44s/epoch - 396ms/step
Epoch 15/20
110/110 - 43s - loss: 1.0447 - accuracy: 0.4928 - val_loss: 1.0438 - val_accuracy: 0.4914 - 43s/epoch - 395ms/step
Epoch 16/20
110/110 - 43s - loss: 1.0449 - accuracy: 0.4928 - val_loss: 1.0439 - val_accuracy: 0.4914 - 43s/epoch - 394ms/step
Epoch 17/20
110/110 - 43s - loss: 1.0437 - accuracy: 0.4932 - val_loss: 1.0433 - val_accuracy: 0.4914 - 43s/epoch - 392ms/step
Epoch 18/20
110/110 - 43s - loss: 1.0439 - accuracy: 0.4929 - val_loss: 1.0434 - val_accuracy: 0.4914 - 43s/epoch - 394ms/step
Epoch 19/20
110/110 - 43s - loss: 1.0450 - accuracy: 0.4924 - val_loss: 1.0437 - val_accuracy: 0.4914 - 43s/epoch - 393ms/step
Epoch 20/20
110/110 - 43s - loss: 1.0448 - accuracy: 0.4928 - val_loss: 1.0439 - val_accuracy: 0.4914 - 43s/epoch - 394ms/step

In [99]:
# evaluate the classification model
_,acc = RNN_model.evaluate(X_test, y_ts)
print("acc: %.2f" % (acc))

94/94 [==============================] - 4s 43ms/step - loss: 1.0439 - accuracy: 0.4914
acc: 0.49

**Group matches predictions**

In [100]:
# List for storing the group stage games
pred_set = []

In [101]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Home Team'].map(ranking.set_index('Team')['Positions']))
fixtures.insert(2, 'second_position', fixtures['Away Team'].map(ranking.set_index('Team')['Positions']))

# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:36, :]
fixtures.tail()

   Group  first_position  second_position      Home Team          Away Team
31     D             106               36  Guinea-Bissau            Nigeria
32     E             108              114   Sierra Leone  Equatorial Guinea
33     E              56               29    Ivory Coast            Algeria
34     F              53              103           Mali         Mauritania
35     F             150               30         Gambia            Tunisia

In [102]:
fixtures

   Group  first_position  second_position          Home Team          Away Team
0      A              50               60           Cameroon       Burkina Faso
1      A             137               73           Ethiopia         Cape Verde
2      B              20              121            Senegal           Zimbabwe
3      B              81              129             Guinea             Malawi
4      C              28               52            Morocco              Ghana
5      C             132               89            Comoros              Gabon
6      E              29              108            Algeria       Sierra Leone
7      D              36               45            Nigeria              Egypt
8      D             125              106              Sudan      Guinea-Bissau
9      F              30               53            Tunisia               Mali
10     F             103              150         Mauritania             Gambia
11     E             114               56  Equatorial Guinea        Ivory Coast
12     A              50              137           Cameroon           Ethiopia
13     A              73               60         Cape Verde       Burkina Faso
14     B              20               81            Senegal             Guinea
15     B             129              121             Malawi           Zimbabwe
16     C              28              132            Morocco            Comoros
17     C              89               52              Gabon              Ghana
18     D              36              125            Nigeria              Sudan
19     D             106               45      Guinea-Bissau              Egypt
20     F             150               53             Gambia               Mali
21     F              30              103            Tunisia         Mauritania
22     E              56              108        Ivory Coast       Sierra Leone
23     E              29              114            Algeria  Equatorial Guinea
24     A              73               50         Cape Verde           Cameroon
25     A              60              137       Burkina Faso           Ethiopia
26     B             121               81           Zimbabwe             Guinea
27     B             129               20             Malawi            Senegal
28     C              89               28              Gabon            Morocco
29     C              52              132              Ghana            Comoros
30     D              45              125              Egypt              Sudan
31     D             106               36      Guinea-Bissau            Nigeria
32     E             108              114       Sierra Leone  Equatorial Guinea
33     E              56               29        Ivory Coast            Algeria
34     F              53              103               Mali         Mauritania
35     F             150               30             Gambia            Tunisia

In [103]:
# Loop to add teams to new prediction dataset based on the ranking position of each team
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team'], 'winning_team': None})
    else:
        pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

pred_set.head()

    home_team     away_team winning_team
0    Cameroon  Burkina Faso         None
1  Cape Verde      Ethiopia         None
2     Senegal      Zimbabwe         None
3      Guinea        Malawi         None
4     Morocco         Ghana         None

In [104]:
# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

# Remove winning team column
pred_set = pred_set.drop(['winning_team'], axis=1)

pred_set.head()

   home_team_Albania  home_team_Algeria  ...  away_team_Zanzibar  away_team_Zimbabwe
0                  0                  0  ...                   0                   0
1                  0                  0  ...                   0                   0
2                  0                  0  ...                   0                   1
3                  0                  0  ...                   0                   0
4                  0                  0  ...                   0                   0

[5 rows x 312 columns]

In [105]:
# Logistic Regression
# group matches 
def predict_logreg(pred_set,backup_pred_set,n):
  predictions = logreg.predict(pred_set)
  for i in range(n):
      print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
      if predictions[i] == 2:
          print("Winner: " + backup_pred_set.iloc[i, 0])
      elif predictions[i] == 1:
          print("Draw")
      elif predictions[i] == 0:
          print("Winner: " + backup_pred_set.iloc[i, 1])
      print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][2]))
      print('Probability of Draw: ', '%.3f'%(logreg.predict_proba(pred_set)[i][1]))
      print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][0]))
      print("")

In [106]:
predict_logreg(pred_set,backup_pred_set,fixtures.shape[0])

Burkina Faso and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.639
Probability of Draw:  0.255
Probability of Burkina Faso winning:  0.106

Ethiopia and Cape Verde
Winner: Cape Verde
Probability of Cape Verde winning:  0.649
Probability of Draw:  0.134
Probability of Ethiopia winning:  0.217

Zimbabwe and Senegal
Winner: Senegal
Probability of Senegal winning:  0.573
Probability of Draw:  0.259
Probability of Zimbabwe winning:  0.168

Malawi and Guinea
Winner: Guinea
Probability of Guinea winning:  0.598
Probability of Draw:  0.263
Probability of Malawi winning:  0.139

Ghana and Morocco
Winner: Morocco
Probability of Morocco winning:  0.500
Probability of Draw:  0.286
Probability of Ghana winning:  0.214

Comoros and Gabon
Winner: Gabon
Probability of Gabon winning:  0.620
Probability of Draw:  0.219
Probability of Comoros winning:  0.161

Sierra Leone and Algeria
Winner: Algeria
Probability of Algeria winning:  0.675
Probability of Draw:  0.198
Probability of Sierra Leone winning:  0.128

Egypt and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.515
Probability of Draw:  0.340
Probability of Egypt winning:  0.145

Sudan and Guinea-Bissau
Winner: Guinea-Bissau
Probability of Guinea-Bissau winning:  0.390
Probability of Draw:  0.259
Probability of Sudan winning:  0.350

Mali and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.600
Probability of Draw:  0.220
Probability of Mali winning:  0.180

Gambia and Mauritania
Winner: Mauritania
Probability of Mauritania winning:  0.341
Probability of Draw:  0.328
Probability of Gambia winning:  0.331

Equatorial Guinea and Ivory Coast
Winner: Ivory Coast
Probability of Ivory Coast winning:  0.882
Probability of Draw:  0.107
Probability of Equatorial Guinea winning:  0.011

Ethiopia and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.804
Probability of Draw:  0.128
Probability of Ethiopia winning:  0.068

Cape Verde and Burkina Faso
Winner: Burkina Faso
Probability of Burkina Faso winning:  0.579
Probability of Draw:  0.276
Probability of Cape Verde winning:  0.145

Guinea and Senegal
Winner: Senegal
Probability of Senegal winning:  0.543
Probability of Draw:  0.305
Probability of Guinea winning:  0.153

Malawi and Zimbabwe
Winner: Zimbabwe
Probability of Zimbabwe winning:  0.552
Probability of Draw:  0.303
Probability of Malawi winning:  0.145

Comoros and Morocco
Winner: Morocco
Probability of Morocco winning:  0.808
Probability of Draw:  0.126
Probability of Comoros winning:  0.066

Gabon and Ghana
Winner: Ghana
Probability of Ghana winning:  0.714
Probability of Draw:  0.165
Probability of Gabon winning:  0.121

Sudan and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.733
Probability of Draw:  0.190
Probability of Sudan winning:  0.077

Guinea-Bissau and Egypt
Winner: Egypt
Probability of Egypt winning:  0.884
Probability of Draw:  0.081
Probability of Guinea-Bissau winning:  0.035

Gambia and Mali
Winner: Mali
Probability of Mali winning:  0.740
Probability of Draw:  0.166
Probability of Gambia winning:  0.094

Mauritania and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.802
Probability of Draw:  0.161
Probability of Mauritania winning:  0.037

Sierra Leone and Ivory Coast
Winner: Ivory Coast
Probability of Ivory Coast winning:  0.734
Probability of Draw:  0.203
Probability of Sierra Leone winning:  0.063

Equatorial Guinea and Algeria
Winner: Algeria
Probability of Algeria winning:  0.866
Probability of Draw:  0.111
Probability of Equatorial Guinea winning:  0.023

Cape Verde and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.715
Probability of Draw:  0.199
Probability of Cape Verde winning:  0.086

Ethiopia and Burkina Faso
Winner: Burkina Faso
Probability of Burkina Faso winning:  0.691
Probability of Draw:  0.189
Probability of Ethiopia winning:  0.121

Zimbabwe and Guinea
Winner: Guinea
Probability of Guinea winning:  0.513
Probability of Draw:  0.281
Probability of Zimbabwe winning:  0.207

Malawi and Senegal
Winner: Senegal
Probability of Senegal winning:  0.653
Probability of Draw:  0.237
Probability of Malawi winning:  0.110

Gabon and Morocco
Winner: Morocco
Probability of Morocco winning:  0.703
Probability of Draw:  0.185
Probability of Gabon winning:  0.112

Comoros and Ghana
Winner: Ghana
Probability of Ghana winning:  0.817
Probability of Draw:  0.112
Probability of Comoros winning:  0.071

Sudan and Egypt
Winner: Egypt
Probability of Egypt winning:  0.757
Probability of Draw:  0.146
Probability of Sudan winning:  0.097

Guinea-Bissau and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.866
Probability of Draw:  0.106
Probability of Guinea-Bissau winning:  0.028

Equatorial Guinea and Sierra Leone
Winner: Sierra Leone
Probability of Sierra Leone winning:  0.809
Probability of Draw:  0.160
Probability of Equatorial Guinea winning:  0.031

Ivory Coast and Algeria
Winner: Algeria
Probability of Algeria winning:  0.414
Probability of Draw:  0.263
Probability of Ivory Coast winning:  0.323

Mauritania and Mali
Winner: Mali
Probability of Mali winning:  0.758
Probability of Draw:  0.191
Probability of Mauritania winning:  0.051

Gambia and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.790
Probability of Draw:  0.141
Probability of Gambia winning:  0.069

In [107]:
# DNN
#group matches 
def predict_DNN(pred_set, backup_pred_set, n):
  predictions = model.predict(pred_set)
  proba = predictions
  predictions = np.argmax(predictions, axis=1)
  for i in range(n):
      print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
      if predictions[i] == 2:
          print("Winner: " + backup_pred_set.iloc[i, 0])
      elif predictions[i] == 1:
          print("Draw")
      elif predictions[i] == 0:
          print("Winner: " + backup_pred_set.iloc[i, 1])
      print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(proba[i][2]))
      print('Probability of Draw: ', '%.3f'%(proba[i][1]))
      print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(proba[i][0]))
      print("")

In [108]:
predict_DNN(pred_set, backup_pred_set, fixtures.shape[0])

Burkina Faso and Cameroon
Winner: Burkina Faso
Probability of Cameroon winning:  0.395
Probability of Draw:  0.109
Probability of Burkina Faso winning:  0.496

Ethiopia and Cape Verde
Winner: Cape Verde
Probability of Cape Verde winning:  0.750
Probability of Draw:  0.016
Probability of Ethiopia winning:  0.234

Zimbabwe and Senegal
Winner: Senegal
Probability of Senegal winning:  0.998
Probability of Draw:  0.001
Probability of Zimbabwe winning:  0.000

Malawi and Guinea
Winner: Guinea
Probability of Guinea winning:  0.514
Probability of Draw:  0.449
Probability of Malawi winning:  0.037

Ghana and Morocco
Winner: Morocco
Probability of Morocco winning:  0.704
Probability of Draw:  0.284
Probability of Ghana winning:  0.012

Comoros and Gabon
Winner: Gabon
Probability of Gabon winning:  0.962
Probability of Draw:  0.038
Probability of Comoros winning:  0.000

Sierra Leone and Algeria
Winner: Algeria
Probability of Algeria winning:  0.634
Probability of Draw:  0.360
Probability of Sierra Leone winning:  0.005

Egypt and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.566
Probability of Draw:  0.430
Probability of Egypt winning:  0.003

Sudan and Guinea-Bissau
Draw
Probability of Guinea-Bissau winning:  0.016
Probability of Draw:  0.975
Probability of Sudan winning:  0.009

Mali and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.517
Probability of Draw:  0.213
Probability of Mali winning:  0.270

Gambia and Mauritania
Winner: Mauritania
Probability of Mauritania winning:  0.634
Probability of Draw:  0.360
Probability of Gambia winning:  0.006

Equatorial Guinea and Ivory Coast
Winner: Ivory Coast
Probability of Ivory Coast winning:  0.543
Probability of Draw:  0.455
Probability of Equatorial Guinea winning:  0.002

Ethiopia and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.542
Probability of Draw:  0.423
Probability of Ethiopia winning:  0.035

Cape Verde and Burkina Faso
Winner: Cape Verde
Probability of Burkina Faso winning:  0.332
Probability of Draw:  0.019
Probability of Cape Verde winning:  0.650

Guinea and Senegal
Winner: Senegal
Probability of Senegal winning:  0.801
Probability of Draw:  0.173
Probability of Guinea winning:  0.026

Malawi and Zimbabwe
Winner: Zimbabwe
Probability of Zimbabwe winning:  0.614
Probability of Draw:  0.262
Probability of Malawi winning:  0.124

Comoros and Morocco
Winner: Morocco
Probability of Morocco winning:  0.890
Probability of Draw:  0.108
Probability of Comoros winning:  0.001

Gabon and Ghana
Winner: Ghana
Probability of Ghana winning:  0.988
Probability of Draw:  0.010
Probability of Gabon winning:  0.002

Sudan and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.606
Probability of Draw:  0.261
Probability of Sudan winning:  0.133

Guinea-Bissau and Egypt
Winner: Egypt
Probability of Egypt winning:  0.974
Probability of Draw:  0.018
Probability of Guinea-Bissau winning:  0.008

Gambia and Mali
Winner: Mali
Probability of Mali winning:  0.738
Probability of Draw:  0.007
Probability of Gambia winning:  0.255

Mauritania and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.766
Probability of Draw:  0.234
Probability of Mauritania winning:  0.000

Sierra Leone and Ivory Coast
Winner: Ivory Coast
Probability of Ivory Coast winning:  0.734
Probability of Draw:  0.256
Probability of Sierra Leone winning:  0.010

Equatorial Guinea and Algeria
Winner: Algeria
Probability of Algeria winning:  0.781
Probability of Draw:  0.218
Probability of Equatorial Guinea winning:  0.001

Cape Verde and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.607
Probability of Draw:  0.388
Probability of Cape Verde winning:  0.004

Ethiopia and Burkina Faso
Winner: Burkina Faso
Probability of Burkina Faso winning:  0.880
Probability of Draw:  0.100
Probability of Ethiopia winning:  0.020

Zimbabwe and Guinea
Winner: Guinea
Probability of Guinea winning:  0.666
Probability of Draw:  0.331
Probability of Zimbabwe winning:  0.003

Malawi and Senegal
Winner: Senegal
Probability of Senegal winning:  0.978
Probability of Draw:  0.014
Probability of Malawi winning:  0.008

Gabon and Morocco
Winner: Morocco
Probability of Morocco winning:  0.636
Probability of Draw:  0.045
Probability of Gabon winning:  0.319

Comoros and Ghana
Winner: Ghana
Probability of Ghana winning:  0.986
Probability of Draw:  0.014
Probability of Comoros winning:  0.000

Sudan and Egypt
Winner: Egypt
Probability of Egypt winning:  0.710
Probability of Draw:  0.275
Probability of Sudan winning:  0.014

Guinea-Bissau and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.997
Probability of Draw:  0.002
Probability of Guinea-Bissau winning:  0.000

Equatorial Guinea and Sierra Leone
Winner: Sierra Leone
Probability of Sierra Leone winning:  0.900
Probability of Draw:  0.100
Probability of Equatorial Guinea winning:  0.000

Ivory Coast and Algeria
Winner: Algeria
Probability of Algeria winning:  0.499
Probability of Draw:  0.339
Probability of Ivory Coast winning:  0.161

Mauritania and Mali
Winner: Mali
Probability of Mali winning:  0.659
Probability of Draw:  0.299
Probability of Mauritania winning:  0.042

Gambia and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.458
Probability of Draw:  0.150
Probability of Gambia winning:  0.392

**round of 16 predictions**

In [109]:
#round of 16 matches
group_16 = [('Burkina Faso', 'Ghana'),
            ('Nigeria', 'Zimbabwe'),
            ('Senegal', 'Cape Verde'),
            ('Tunisia', 'Ivory Coast'),
            ('Guinea', 'Mali'),
            ('Cameroon', 'Gabon'),
            ('Algeria', 'Egypt'),
            ('Morocco', 'Sierra Leone')]

In [110]:
def clean_and_predict(matches, ranking, final, logreg):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to FIFA ranking
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'Positions'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'Positions'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better, he will be the 'home' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'home_team': matches[j][0], 'away_team': matches[j][1]})
        else:
            dict1.update({'home_team': matches[j][1], 'away_team': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1

    # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    # Remove winning team column
    pred_set = pred_set.drop(['winning_team'], axis=1)

    # Predict!
    print('Logistic Regression Model......................................')
    predict_logreg(pred_set, backup_pred_set, len(pred_set))
    print('DNN Model......................................................')
    predict_DNN(pred_set, backup_pred_set, len(pred_set))

In [111]:
clean_and_predict(group_16, ranking, final, logreg)

Logistic Regression Model......................................
Burkina Faso and Ghana
Winner: Ghana
Probability of Ghana winning:  0.691
Probability of Draw:  0.215
Probability of Burkina Faso winning:  0.095

Zimbabwe and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.678
Probability of Draw:  0.218
Probability of Zimbabwe winning:  0.103

Cape Verde and Senegal
Winner: Senegal
Probability of Senegal winning:  0.696
Probability of Draw:  0.197
Probability of Cape Verde winning:  0.107

Ivory Coast and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.418
Probability of Draw:  0.306
Probability of Ivory Coast winning:  0.276

Guinea and Mali
Winner: Mali
Probability of Mali winning:  0.483
Probability of Draw:  0.337
Probability of Guinea winning:  0.179

Gabon and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.666
Probability of Draw:  0.197
Probability of Gabon winning:  0.138

Egypt and Algeria
Winner: Algeria
Probability of Algeria winning:  0.421
Probability of Draw:  0.336
Probability of Egypt winning:  0.244

Sierra Leone and Morocco
Winner: Morocco
Probability of Morocco winning:  0.711
Probability of Draw:  0.212
Probability of Sierra Leone winning:  0.077

DNN Model......................................................
Burkina Faso and Ghana
Winner: Ghana
Probability of Ghana winning:  0.816
Probability of Draw:  0.010
Probability of Burkina Faso winning:  0.174

Zimbabwe and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.788
Probability of Draw:  0.211
Probability of Zimbabwe winning:  0.000

Cape Verde and Senegal
Winner: Senegal
Probability of Senegal winning:  0.838
Probability of Draw:  0.161
Probability of Cape Verde winning:  0.000

Ivory Coast and Tunisia
Winner: Tunisia
Probability of Tunisia winning:  0.507
Probability of Draw:  0.262
Probability of Ivory Coast winning:  0.231

Guinea and Mali
Winner: Mali
Probability of Mali winning:  0.464
Probability of Draw:  0.340
Probability of Guinea winning:  0.196

Gabon and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.474
Probability of Draw:  0.290
Probability of Gabon winning:  0.235

Egypt and Algeria
Draw
Probability of Algeria winning:  0.434
Probability of Draw:  0.443
Probability of Egypt winning:  0.123

Sierra Leone and Morocco
Winner: Morocco
Probability of Morocco winning:  0.983
Probability of Draw:  0.012
Probability of Sierra Leone winning:  0.005



**quarter-final predictions**

In [112]:
#quarter final matches
quarters = [('Ghana', 'Nigeria'),
            ('Senegal', 'Tunisia'),
            ('Mali', 'Cameroon'),
            ('Algeria', 'Morocco')]

In [113]:
clean_and_predict(quarters, ranking, final, logreg)

Logistic Regression Model......................................
Ghana and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.546
Probability of Draw:  0.253
Probability of Ghana winning:  0.200

Tunisia and Senegal
Winner: Senegal
Probability of Senegal winning:  0.474
Probability of Draw:  0.319
Probability of Tunisia winning:  0.206

Mali and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.615
Probability of Draw:  0.225
Probability of Mali winning:  0.161

Algeria and Morocco
Winner: Morocco
Probability of Morocco winning:  0.535
Probability of Draw:  0.298
Probability of Algeria winning:  0.167

DNN Model......................................................
Ghana and Nigeria
Draw
Probability of Nigeria winning:  0.352
Probability of Draw:  0.385
Probability of Ghana winning:  0.264

Tunisia and Senegal
Winner: Senegal
Probability of Senegal winning:  0.486
Probability of Draw:  0.355
Probability of Tunisia winning:  0.159

Mali and Cameroon
Winner: Cameroon
Probability of Cameroon winning:  0.545
Probability of Draw:  0.437
Probability of Mali winning:  0.018

Algeria and Morocco
Winner: Morocco
Probability of Morocco winning:  0.756
Probability of Draw:  0.233
Probability of Algeria winning:  0.011

**Semi-Final predictions**

In [114]:
#semi final matches
semi = [('Nigeria', 'Senegal'),
        ('Cameroon', 'Morocco')]

In [115]:
clean_and_predict(semi, ranking, final, logreg)

Logistic Regression Model......................................
Nigeria and Senegal
Winner: Senegal
Probability of Senegal winning:  0.425
Probability of Draw:  0.308
Probability of Nigeria winning:  0.267

Cameroon and Morocco
Winner: Morocco
Probability of Morocco winning:  0.443
Probability of Draw:  0.384
Probability of Cameroon winning:  0.174

DNN Model......................................................
Nigeria and Senegal
Winner: Nigeria
Probability of Senegal winning:  0.309
Probability of Draw:  0.228
Probability of Nigeria winning:  0.463

Cameroon and Morocco
Draw
Probability of Morocco winning:  0.143
Probability of Draw:  0.474
Probability of Cameroon winning:  0.383

In [116]:
Prob_Senegal = (0.425 + 0.299) / 2
Prob_Nigeria = (0.267 + 0.474) / 2
Prob_Cameroon = (0.174 + 0.403) / 2
Prob_Morocco = (0.096 + 0.443) / 2
print(Prob_Senegal)
print(Prob_Nigeria)
print(Prob_Cameroon)
print(Prob_Morocco)

0.362
0.3705
0.2885
0.2695

**Final predictions**

In [117]:
# Finals
finals = [('Nigeria', 'Cameroon')]

In [118]:
clean_and_predict(finals, ranking, final, logreg)

Logistic Regression Model......................................
Cameroon and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.490
Probability of Draw:  0.345
Probability of Cameroon winning:  0.165

DNN Model......................................................
Cameroon and Nigeria
Winner: Nigeria
Probability of Nigeria winning:  0.615
Probability of Draw:  0.303
Probability of Cameroon winning:  0.082